body {
  margin: 0px;
  font-family: "Roboto";
}

.header {
  padding: 0 45px;
  background-color: #EE9701;
  color: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: "Fredoka One";
}

.nav a {
  text-decoration: none;
  color: #fff;
  padding: 10px 10px 10px;
  display: block;
  transistion: all 0.3s ease-out;
}

.nav a:hover {
  color: #f2cc4d;
}

.nav {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
}

.nav li {
  margin-left: 20px;
}

.hero {
  background-color: #FAE9B1;
  padding: 40px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.hero-inner {
  flex:50%;
  max-width: 650px;
}

.hero-image {
  flex:50%;
  justify-content: center;
  text-align: center;
  margin: 10px;
}

btn {
  padding: 10px;
  background-color: #FFF;
  border-radius: 10px;
}

btn a {
  text-decoration: none;
  color: #000;
}

.when {
  padding: 40px 40px;
  display: flex;
}

.date {
  flex: 50%;
  text-align: center;
}

.countdown {
  flex:50%;
  text-align: center;
  background: #EE9701;
  border-radius: 100%;
  height: 250px;
  width: 250px;
}